@use '@/styles/variables' as *;
@use '@/styles/function' as *;

.mainPage {
  background-color: $color-secondary;
  min-height: 100vh;
  gap: 2rem;
  padding: 1rem;
  padding-bottom: 5rem;
}

.itemList {
}

.listItem {
  padding: 1rem;
}