@use '@/styles/variables' as *;
@use '@/styles/function' as *;

.addItemsCard {
  background-color: $color-white;
  border-radius: 15px;
  padding: 1.5rem;
  margin-top: 1rem;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.modalTitle {
  font-size: 1.1rem;
  font-weight: $font-weight-semibold;
  color: #333;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.itemName {
  color: $color-primary;
  font-weight: $font-weight-bold;
}

.listSelector {
  background-color: $color-gray3;
  border-radius: 7px;
  margin-bottom: 1.5rem;
  @include flex(row, center, flex-start, 0.5rem);
}

.listSelector label {
  font-size: $font-size-subhead;
  color: #666;
  white-space: nowrap;
}

.modalButtons {
  @include flex(row, center, flex-end, 0.8rem);
}

.cancelButton,
.confirmButton {
  width: 5rem;
  height: 2.25rem;
  padding: 0;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: $font-weight-bold;
  @include flex(row, center, center);
}

.cancelButton {
  background-color: $color-gray0;
  color: $color-white;
  @include hoverEvent(0.85);
}

.confirmButton {
  background-color: $color-primary;
  color: $color-white;
  @include hoverEvent(0.85);
}

