.addItemsCard {
  background-color: white;
  border-radius: 15px;
  padding: 1.5rem;
  margin-top: 1rem;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.modalTitle {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.itemName {
  color: #F56E00;
  font-weight: 700;
}

.listSelector {
  background-color: #f9f9f9;
  border-radius: 7px;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.listSelector label {
  font-size: 0.9rem;
  color: #666;
  white-space: nowrap;
}


.modalButtons {
  display: flex;
  gap: 0.8rem;
  justify-content: flex-end;
}

.cancelButton,
.confirmButton {
  width: 5rem;
  height: 2.25rem;
  padding: 0;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancelButton {
  background-color: #999;
  color: white;
}

.cancelButton:hover {
  background-color: #777;
}

.confirmButton {
  background-color: #F56E00;
  color: white;
}

.confirmButton:hover {
  background-color: #d45f00;
}

