@use '@/styles/variables' as *;
@use '@/styles/function' as *;

.addListButton {
  width: 100%;
  padding: 1rem;
  background-color: $color-white;
  color: #666;
  border: none;
  border-radius: rem(10px);
  font-size: $font-size-body;
  font-weight: $font-weight-medium;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 1rem;
}

.addListButton:hover {
  border-color: $color-primary;
  color: $color-primary;
  background-color: #fff5f0;
}
